<div class="row">
    <% obj.each do |c| %>
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    <%= gravatar_for c.user, size: 50 if !@user.avatar%>
                    <%= cl_image_tag @user.avatar , :width => 50, :height => 50, 
                           :crop => :fill, :gravity => :face,
                           :radius => :max  if @user.avatar %>
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <b><%= link_to  "#{ c.user.username }", user_path(c.user) %></b>
                        made a comment. <h6 class="text-muted time"> <%= time_ago_in_words(c.created_at) %> ago</h6>
                    </div>
                </div>
            </div> 
            <div class="post-description"> 
                <p><%= c.comment %></p>
            </div>
        </div>
    </div>
    <% end %>
</div>

